1000_genome_project
project*/*
project*
git*
libermate*
CBridGE*
test*
old
runscripts
results_collection
clustering
*.log
scripts_*
*_local
testfuns
setup_env_csh_local.sh
example_project
data_*
targeted_analysis
